{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}
           com.ibm.icu/icu4j   {:mvn/version "65.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}}}
           :runner {:extra-deps  {com.cognitect/test-runner
                                  {:git/url "https://github.com/cognitect-labs/test-runner"
                                   :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
                    :main-opts   ["-m" "cognitect.test-runner"]}}}
