{:en {:hedges            {:equal  #{"exactly"}
                          :around #{"around" "approximately" "about"}
                          :more   #{"more than" "over"}
                          :less   #{"less than" "under" "nearly"}}
      :favorite-numbers {1/4  #{"a quarter"}
                          1/3  #{"a third"}
                          0.33 #{"a third"}
                          1/2  #{"a half"}
                          0.5  #{"a half"}}}

 :de {:hedges            {:equal  #{"genau"}
                          :around #{"ungefähr" "etwa"}
                          :more   #{"mehr als" "über"}
                          :less   #{"weniger als" "unter"}}
      :favorite-numbers {1/4  #{"a quarter"}
                          1/3  #{"a third"}
                          0.33 #{"a third"}
                          1/2  #{"half"}
                          0.5  #{"a half"}}}}
